.status{
    display:inline-flex;
    padding: 5px;
    width: 100%;;
}

.status section{
    width: 33%;
    height: 100%;
    margin: 10px;
}

.status section form {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    height: 90%
}
